* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 20, 147, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  padding: 0 150px;
}

.tabs {
  margin: 20px 0;
}

.tabs .tab-control,
.tabs .tab-content {
  margin: 20px 0;
}

/* Tab control */
.tabs .tab-control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}

.tabs .tab-control .control-item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 0 20px;
  padding: 10px 20px;

  color: rgb(255, 20, 147, 0.6);
  cursor: pointer;
}

.tabs .tab-control .control-item:hover {
  color: rgb(255, 20, 147, 1);
  background-color: rgb(255, 20, 147, 0.1);
}

.tabs .tab-control .control-item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid rgb(255, 20, 147, 0.2);
}

.tabs .tab-control .active {
  color: rgb(255, 20, 147, 1);
}

.tabs .tab-control .active:hover::after {
  border-bottom: 2px solid rgb(255, 20, 147, 1);
}

.tabs .tab-control .active::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  border-bottom: 2px solid rgb(255, 20, 147, 1);
}

.tabs .tab-control .control-item i {
  margin-right: 5px;
}

/* line tab */
.tab-control .tab-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgb(255, 20, 147, 1);
  transition: all 0.2s ease;
}

/* Tab content */
.tabs .tab-content {
  margin: 0 -20px;
}

.tabs .tab-content .content-item {
  padding: 20px;
  display: none;
}

.tabs .tab-content .active {
  display: block;
}

.tabs .tab-content .content-item .heading {
  margin-bottom: 10px;
}

.tabs .tab-content .content-item .desc {
  margin: 10px 0;
}

/********************** Style for Music player *********************/
.music {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;

  width: 350px;
  position: relative;
  margin: 50px auto;

  border: 1px solid rgb(231, 231, 231);
  box-shadow: 2px 2px 20px #ccc;
}

.music .music-play {
  width: 100%;
  padding: 10px;
  border: 10px solid white;
  border-radius: 15px;

  background-color: white;
  background-image: url("./img/backgroundMusic.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.music .music-play .music-desc {
  color: rgb(255, 20, 147, 1);
  font-weight: bold;
  font-size: 0.8rem;
}

.music .music-play .music-title {
  color: rgb(70, 70, 70);
}

.music .music-play .music-image {
}
.music .music-play .music-image img {
  width: 60%;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgb(68, 68, 68);
}

.music .music-play .music-control {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.music .music-play .music-control .active {
  color: rgb(255, 20, 147, 1);
}

.music .music-play .music-control li {
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(70, 70, 70);
}

.music .music-play .music-control li:active {
  color: rgb(255, 20, 147, 1);
}

.music .music-play .music-control li:nth-child(3) {
  font-size: 3rem;
  color: rgb(255, 20, 147, 1);
}

.music .icon-pause {
  display: none;
}
.music.playing .icon-pause {
  display: inline-block;
}
.music.playing .icon-play {
  display: none;
}

.progress {
  width: 100%;
  margin: 10px 0;
  -webkit-appearance: none;
  background: rgb(255, 20, 147, 1);
  opacity: 0.7;
}

.progress::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: white;
  cursor: pointer;
}

/********************** Style for play list *********************/
.music .play-list {
  background-color: rgb(241, 241, 241);
  overflow-y: scroll;
  height: 270px;
  width: 100%;
}

.music .play-list .list-item {
  display: flex;
  flex-flow: column wrap;
  padding: 5px 10px;
}

.music .play-list .list-item .item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  border-radius: 3px;
  background-color: white;

  margin: 10px 0;
  padding: 10px;

  cursor: pointer;
}

.music .play-list .list-item .item:hover {
  background-color: rgb(255, 20, 147, 0.6);
}

.music .play-list .list-item .item:active {
  opacity: 0.8;
}

.music .play-list .list-item .item .img {
  width: 15%;
}

.music .play-list .list-item .item .img img {
  width: 100%;
  border-radius: 50%;
  display: flex;
}

.music .play-list .list-item .item .detail {
  margin: 0 20px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

.music .play-list .list-item .item .detail .music-name {
  color: rgb(61, 61, 61);
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.music .play-list .list-item .item .detail .music-singer {
  color: rgb(128, 128, 128);
  font-size: 0.8rem;
}

.music .play-list .list-item .item .dot {
  position: absolute;
  right: 20px;
}

.music .play-list .list-item .item .dot i {
  color: rgb(128, 128, 128);
}

.music .play-list .list-item .item:hover > .detail h4,
.music .play-list .list-item .item:hover > .detail p,
.music .play-list .list-item .item:hover > .dot i {
  color: white;
}

.music .play-list .list-item .active {
  background-color: rgb(255, 20, 147, 1);
}
.music .play-list .list-item .active:hover {
  background-color: rgb(255, 20, 147, 1);
}

.music .play-list .list-item .active .detail .music-name,
.music .play-list .list-item .active .detail .music-singer,
.music .play-list .list-item .active .dot i {
  color: white;
}

@media (max-width: 1199px) {
  .tabs .tab-control .control-item {
    margin: 0;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .tab-control .tab-line {
    display: none;
  }

  .tabs .tab-control {
    justify-content: space-between;
  }

  .tabs .tab-control .control-item {
    padding: 10px;
  }
}
@media (max-width: 686px) {
  .tabs .tab-control {
    flex-flow: row wrap;
    justify-content: center;
  }
  .tabs .tab-control .control-item {
    font-size: 0.8rem;
  }
  .tabs .tab-content .content-item {
    padding: 10px;
  }
  .music {
    width: 290px;
  }
}

/********************** Style for validation form *********************/
.tab-content .content-item .layout {
  width: 450px;

  padding: 1.8rem 1.6rem;
  margin: 50px auto;
  /* border: 1px solid #bbb; */
  border-radius: 5px;

  box-shadow: 0 0 20px #bbb;
}

.tab-content .content-item .layout form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.tab-content .content-item .layout form .heading {
  font-weight: bold;
  font-size: 1.6rem;
  color: #555;
}

.tab-content .content-item .layout > form .desc {
  margin-bottom: 1.6rem;
  color: rgb(255, 20, 147, 1);
}

.tab-content .content-item .layout form .form-group {
  width: 100%;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;

  margin: 0.5rem 0;
}

.tab-content .content-item .layout form .form-group .form-label {
  color: #555;
  margin-bottom: 0.6rem;
}

.tab-content .content-item .layout form .form-group input {
  width: 100%;
  padding: 0.8rem;

  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.tab-content .content-item .layout form .form-group input::placeholder {
  color: #ccc;
}

.tab-content .content-item .layout form .form-group input:hover {
  border: 1px solid rgb(255, 20, 147, 0.5);
}

.tab-content .content-item .layout form .form-group .form-message {
  font-size: 0.8rem;
  color: #666;
  margin: 5px;
}
.tab-content .content-item .layout form .form-submit {
  width: 100%;
  color: white;
  background-color: rgb(255, 20, 147, 0.8);
  cursor: pointer;

  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}

.tab-content .content-item .layout form .invalid input,
.tab-content .content-item .layout form .invalid input:hover {
  border-color: rgb(226, 0, 0);
}

.tab-content .content-item .layout form .invalid .form-message {
  color: rgb(226, 0, 0);
}
